@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 176, 71);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 75, 35);
}
